.container {
    flex: 0;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--mantine-spacing-md);
}

.paginationControl {
    border-width: 2px !important;
}
