.container {
    flex: 0;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--mantine-spacing-md);
}

.paginationControl {
    border-width: 2px !important;
}

.item {
    flex: 1;
}

.tooltip {
    background-color: var(--mantine-color-dark-5);
    color: var(--mantine-color-white);
}

.layoutButton {
    padding: 0;
    aspect-ratio: 1/1;
    height: 40px;

    &:not(:first-child) {
        border-left: none !important;
    }

    &:hover,
    &:active {
        background-color: var(--mantine-color-dark-6);
    }

    &:disabled,
    &[data-disabled] {
        color: white;
        background-color: var(--mantine-color-dark-5);
    }
}
