.container {
    min-width: 0;
    flex-wrap: nowrap;
}

.textContainer {
    gap: 0;
    min-width: 0;
    flex: 1;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
