.column {
    display: flex;
    flex-direction: column;
}

.columnPaper {
    flex: 1;
    padding: var(--mantine-spacing-md);
    background-color: var(--mantine-color-dark-8);
    border: 2px var(--mantine-color-dark-6) solid;
    min-height: 0 !important;
}
