.scrollArea {
    min-height: 0 !important;
    flex: 1 !important;
    padding-right: var(--mantine-spacing-xs);
}

.loaderContainer {
    width: 100%;
    height: 100%;
    flex: 1;
    min-height: 240px;
    justify-content: center;
    align-items: center;
}
