.container {
    width: 100%;
    min-height: 0;
    flex: 1;
}

.tablePaper {
    display: flex;
    flex: 1;
    padding: var(--mantine-spacing-xl);
    margin: var(--mantine-spacing-md);
    background-color: var(--mantine-color-dark-8);
    flex-direction: column;
    height: 100%;
}
