.tabsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    padding-bottom: var(--mantine-spacing-md);
}

.tabPanel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.fieldset {
    margin-top: var(--mantine-spacing-sm);
    padding-top: var(--mantine-spacing-md);
    height: 100%;
    border: none;
}
