.navbar {
    height: 100%;
    width: 200px;
    padding-top: 0.9rem;
    align-items: center;
    gap: 0;

    border-right: solid var(--mantine-color-dark-6) 2px;
}

.navLink {
    height: 4rem;
    padding-left: 1.25rem;
}

.navLink[data-active] {
    color: var(--nl-color);
}

.heading {
    font-size: var(--mantine-font-size-xl);
    color: var(--mantine-color-gray-5);
    font-weight: 500;
    margin-bottom: 0.5rem;
}