.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: var(--mantine-spacing-sm);
}

.labelContainer {
    position: absolute;
    height: 60px;
}

.labelBackground {
    height: 41px;
    background-color: var(--mantine-color-dark-6);
    padding-top: 4px;
    border-radius: 0px;
}

.labelText {
    font-size: var(--mantine-font-size-xl);
    font-weight: 600;
    padding: 8px;
}

.dividerRoot {
    flex: 1;
    padding: none;
    margin: none;
}

.sparkline {
    width: 100%;
    height: 60px;
    
}