.table {
    
    flex: 1;
}

.tr {
    display: flex;
}

.tr > * {
    flex: 1;
}

.tr > *:last-child {
    flex: 0;
    min-width: 75px;
}

.th, .td {
    display: flex;
    align-items: center;

    padding: var(--mantine-spacing-md);
    
}
