http:
  routers:
    machine-remote-access:
      rule: 'Host(`{{ printf "session.%s" (env "DOMAIN_NAME") }}`) && PathRegexp(`/((rdp|vnc|ssh))/([0-9a-fA-F-]+)`)'
      entryPoints:
        - websecure
      tls: {}
      middlewares:
        - strip-incoming-header
        - forward-auth
        - rewrite-path
      service:
        cherry-guacamole-service
    
    # This router exists only for development purposes in order to block /api/forwardauth endpoint access from outside of internal network
    api-forwardauth:
      rule: 'Host(`{{ env "DOMAIN_NAME" }}`) && Path(`/api/forwardauth`)'
      entryPoints:
        - web
      middlewares:
        - forward-auth-whitelist
      service:
        cherry-api-service

  middlewares:
    # forwardauth endpoint access is restricted to internal use - drop the request if it comes from outside the internal Docker network
    forward-auth-whitelist:
      ipWhiteList:
          sourceRange:
            - '{{ env "NETWORK_DOCKER_INTERNAL_SUBNET" }}'

    # 1) Strip any rogue X-Guacamole-User header
    strip-incoming-header:
      headers:
        customRequestHeaders:
          X-Guacamole-User: ""

    # 3) Call API to validate session (access) token
    # If token validation succeds, trusted X-Guacamole-User and X-Guacamole-String header is returned
    forward-auth:
      forwardAuth: 
        address: "http://cherry-api:8000/api/forwardauth"
        trustForwardHeader: true
        authRequestHeaders:
          - "Authorization"
        authResponseHeaders:
          - "X-Guacamole-User"

services:
    cherry-guacamole-service:
      loadBalancer:
        servers:
          - url: "http://cherry-guacamole:8080/guacamole"
    cherry-api-service:
      loadBalancer:
        servers:
          - url: "http://cherry-api:8000"