.actionIcon {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-5);
    border-width: 2px;

    &:disabled,
    &[data-disabled] {
        pointer-events: none;
        color: var(--mantine-color-dimmed);
        background-color: var(--mantine-color-dark-6);
    }

    &:not(&[data-disabled]):hover {
        background-color: var(--mantine-color-dark-4);
    }
}

.actionIcon[aria-selected="true"] {
    background-color: var(--mantine-color-cherry-7);
    border-color: var(--mantine-color-cherry-12);
    color: white;

    &:hover {
        background-color: var(--mantine-color-cherry-10);
    }
}
