polkit.addRule(function(action, subject){
    if ((action.id == "com.cvms.container") && ((subject.isInGroup == "CherryWorker") && (subject.user == "CherryWorker"))){
        return polkit.Result.YES;
    }
});

