.container {
    display: flex;
    flex: 1;
    gap: 0;
    width: 100%;
    min-height: 0;
    justify-content: space-between;
}

.top {
    display: flex;
    min-height: 0;
    max-height: fit-content;
    margin-bottom: var(--mantine-spacing-lg);
}

.table {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    margin-top: -44px;
    background-color: var(--mantine-color-dark-6);
    border-radius: var(--mantine-radius-md);
    overflow: hidden;
    /* border: solid 2px var(--mantine-color-dark-5); */
}

.tr {
    display: flex;
    padding: 4px;
    /* border-bottom: 1px solid var(--mantine-color-dark-6); */
}

.tr:has(.th) {
    display: none;
}

.tr:last-child {
    border-bottom: none;
}

.tr:hover:not(:has(.th)):not(.selected) {
    background-color: var(--mantine-color-dark-5);
}

.tr.selected {
    background-color: color-mix(in srgb, var(--mantine-color-cherry-9) 10%, transparent);
}

.tr.selected:hover:not(:first-child) {
    background-color: color-mix(in srgb, var(--mantine-color-cherry-9) 15%, transparent);
}

.th,
.td {
    flex: 2;
    min-width: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    /* border: 1px red solid; */ /* literally best debugging technics */

    padding: var(--mantine-spacing-md);
}

.tr > *:last-child {
    flex: 0;
    justify-content: end;

    min-width: 200px;
}
