.table {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.tr {
    display: flex;
    border-bottom: 1px solid var(--mantine-color-dark-6);
    min-width: 100%;
    width: 100%;
}

.tr:has(.th) {
    position: sticky;
    top: 0;
    border-width: 2px;
    padding-right: 12px;
    background-color: var(--mantine-color-dark-8);
    z-index: 100;
}

.tr:not(:has(.th)) {
    min-height: 80px;
}

.tr:last-child {
    border-bottom: none;
}

.tr:hover:not(:has(.th)):not(.selected) {
    background-color: var(--mantine-color-dark-6);
}

.tr.selected {
    background-color: color-mix(in srgb, var(--mantine-color-cherry-9) 10%, transparent);
}

.tr.selected:hover:not(:first-child) {
    background-color: color-mix(in srgb, var(--mantine-color-cherry-9) 15%, transparent);
}

.th,
.td {
    min-width: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;

    padding: var(--mantine-spacing-md);
}

.th {
    font-weight: 500;
}

.loaderContainer {
    width: 100%;
    height: 100%;
    flex: 1;
    min-height: 240px;
    justify-content: center;
    align-items: center;
    gap: var(--mantine-spacing-xs);
}
