a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

:root {
    overflow: hidden;
}

.mantine-Popover-dropdown {
    border: 2px solid var(--mantine-color-dark-5) !important;
}

.mantine-ScrollArea-content-auto-width {
    width: fit-content;
}
