.container {
    width: 100%;
    flex: 1;
    min-height: 0;
    gap: 0;
}

.label {
    margin-bottom: var(--mantine-spacing-xs);
}

.scrollArea {
    width: 100%;
}

.badgeGroup {
    gap: 4px;
    align-items: start;
}

.badge {
    margin-bottom: var(--mantine-spacing-xs);
}

.emptyMessage {
    color: var(--mantine-color-dimmed);
}
