.container {
    display: flex;
    flex: 1;
    min-height: 0;
    justify-content: space-between;
}

.top {
    display: flex;
    min-height: 0;
    max-height: fit-content;
}

.bottom {
    width: 100%;
    flex: 0;
    height: fit-content;
    align-items: center;
}

.paginationContainer {
    justify-content: space-between;
    width: 100%;
    padding: 0 var(--mantine-spacing-md);
}

.table {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.tr {
    display: flex;
    border-bottom: 1px solid var(--mantine-color-dark-6);
}

.tr:has(.th) {
    border-width: 2px;
    padding-right: 12px;
}

.tr:not(:has(.th)) {
    min-height: 80px;
}

.tr:last-child {
    border-bottom: none;
}

.tr:hover:not(:has(.th)):not(.selected) {
    background-color: var(--mantine-color-dark-6);
}

.tr.selected {
    background-color: color-mix(in srgb, var(--mantine-color-cherry-9) 10%, transparent);
}

.tr.selected:hover:not(:first-child) {
    background-color: color-mix(in srgb, var(--mantine-color-cherry-9) 15%, transparent);
}

.th,
.td {
    flex: 2;
    display: flex;
    min-width: 100px;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    /* border: 1px red solid; */

    padding: var(--mantine-spacing-md);
}

.tr > *:nth-child(1) {
    min-width: 50px;
}
.tr > *:nth-child(2) {
    min-width: 200px;
}

.tr > *:nth-child(3) {
    min-width: 200px;
    flex: 3;
}

.tr > *:nth-child(4) {
    flex: 1;
    min-width: 100px;
}

.tr > *:nth-child(5) {
    flex: 0;
    min-width: 50px;
}

.tr > *:first-child {
    flex: 0;
    min-width: 50px;
    justify-content: center;
}
