[Unit]
Description=Cherry VM Studio Stack Initializer
After=network.target docker.service
Wants=docker.service

[Service]
User=CherryWorker
Group=CherryWorker
Type=oneshot
ExecStart=/opt/cherry-vm-studio/systemd/cherry-vm-studio-start.sh
ExecStop=/opt/cherry-vm-studio/systemd/cherry-vm-studio-stop.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

AmbientCapabilities=CAP_NET_ADMIN CAP_SYS_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN CAP_SYS_ADMIN

NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target