[Unit]
Description=Cherry VM Studio custom UNIX NAMED socket for capped system manipulation
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/cherry-vm-studio/cherry-socket/main.py
User=CherryWorker
Group=CherryWorker
Restart=on-failure
RuntimeDirectory=cherry-vm-studio
RuntimeDirectoryMode=0755

# Capabilities required to use "ip" without root
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
