[Unit]
Description=Cherry VM Studio Container Control - All Containers
Requires=docker.service
After=docker.service

[Service]
User=CherryWorker
Type=oneshot
ExecStart=/usr/bin/pkexec --disable-internal-agent /opt/cherry-vm-studio/systemd/cherry-containers-start.sh all
ExecStop=/usr/bin/pkexec --disable-internal-agent /opt/cherry-vm-studio/systemd/cherry-containers-stop.sh all
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal